* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow: hidden;
}

.whole {
    display: flex;
    justify-content: space-between;
}



.login {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-left: 250px;
    margin-top: 200px;
    /* padding-top: 10px; */
}

.login img {
    height: 12vh;
    width: 22vw;

}

.login h1 {
    padding-top: 20px;
}

.login #email {
    padding-top: 20px;
}

.login #password {
    padding-top: 20px;
}

.rightnav {
    background-color: chartreuse;
    height: 100vh;
    width: 30vw;
    margin-left: 100px;
    position: relative;
}

.loginimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


input {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    width: 320px;
    /* margin-top: 10px; */

}

#email:focus {
    outline: none;
}

#password:focus {
    outline: none;
}

.login button {
    height: 25px;
    width: 130px;
    margin-top: 20px;
}

.login a {
    margin-top: 20px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


#errorOccur {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#errorOccur.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* main {
    display: flex;
    height: 100vh;
}

@media screen and (min-width:1100px) {
    .who {
        display: grid;
        grid-template-columns: 3.5fr, 3.5fr;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width:920px) {
    .who {
        display: grid;
        grid-template-columns: 3.5fr, 3.5fr;
        flex-direction: row;
        justify-content: space-between;
    }
}


@media screen and (max-width:600px) {
    .who {
        display: grid;
        grid-template-columns: 2.5fr, 2.5fr;
    }
} */