* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#whole {
    height: 80vh;
    width: 70vw;
    background-color: whitesmoke;
    margin-left: 220px;
    margin-top: 30px;

}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
}

.row1 h4 {
    margin-left: 20px;
}

.row1 h5 {
    margin-right: 20px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row2 h6 {
    margin-left: 25px;
    color: blue;
}

.row2 h4 {
    margin-right: 20px;
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 20px;
}

.row3 h5 {
    margin-left: 20px;
}

.row3 input {
    width: 800px;
    margin-right: 20px;
    height: 25px;
}

.row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row4 h5 {
    margin-left: 20px;
}

.row4 input {
    width: 800px;
    margin-right: 20px;
    height: 25px;
}

.row5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row5 h5 {
    margin-left: 20px;
}

.row5 input {
    width: 800px;
    margin-right: 20px;
    height: 25px;
}

.row6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row6 h5 {
    margin-left: 20px;
    margin-top: 10px;
}

.r6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.r6 {
    height: 30px;
    width: 800px;
    margin-right: 20px;
    background-color: white;
    border: black;
}

.r6 input {
    margin-left: 10px;
}

.row7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row7 h5 {
    margin-left: 20px;
    margin-top: 10px;
}

.r7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.r7 {
    height: 30px;
    width: 800px;
    margin-right: 20px;
    background-color: white;
    border-color: black;
}

.r7 input {
    margin-left: 10px;
}

.row8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row8 h5 {
    margin-left: 20px;
    margin-top: 10px;
}

.r8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.r8 {
    height: 30px;
    width: 800px;
    margin-right: 20px;
    background-color: white;
    border-color: black;
}

.r8 input {
    margin-left: 10px;
}

.row9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row9 h5 {
    margin-left: 20px;
    margin-top: 10px;
}

.r9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.r9 {
    height: 30px;
    width: 800px;
    margin-right: 20px;
    background-color: white;
    border-color: black;
}

.r9 input {
    margin-left: 10px;
}

.row10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row10 h5 {
    margin-left: 20px;
    margin-top: 10px;
}

.r10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.r10 {
    height: 30px;
    width: 800px;
    margin-right: 20px;
    background-color: white;
    border-color: black;
}

.r10 input {
    margin-left: 10px;
}

.row11 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row11 h5 {
    margin-left: 20px;
    margin-top: 10px;
}

.r11 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.r11 {
    height: 30px;
    width: 800px;
    margin-right: 20px;
    background-color: white;
    border-color: black;
}

.r11 input {
    margin-left: 10px;
}

.row12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.row12 h5 {
    margin-left: 20px;
    margin-top: 10px;
}

.r12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
}

.r12 {
    height: 30px;
    width: 800px;
    margin-right: 20px;
    background-color: white;
    border-color: black;
}

.r12 input {
    margin-left: 10px;
}

.row13 {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin-top: 20px;
    /* align-items: center; */
}

.row13 button {
    height: 30px;
    width: 90px;
    margin: auto;
    background-color: blue;
    color: white;
    border-radius: 12px;
}

.nav {
    display: flex;
    /* flex-direction: row; */
    background-color: #e6e6e6;
    justify-content: space-between;
    height: 40px;
}

.nav h2 {
    margin-top: 8px;
}

.disp i {
    margin-left: 10px;
    margin-top: 10px;
}

.disp input {
    padding-left: 5px;
}

.nav h6 {
    margin-top: -10px;
    margin-left: 30px;
    font-size: xx-small;
}

/* .searchbar {
    padding-left: 5px;
} */

.nav1 {
    display: flex;
    background-color: #e6e6e6;
    justify-content: space-between;
}

.nav1 i {
    margin-right: 20px;
    padding-left: 10px;
    margin-top: 10px;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#errorOccured {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#errorOccured.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


#logOut {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#logOut.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


#pleasewait {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#pleasewait.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
