* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#whole {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 150px;
}

.box i {
    margin-bottom: -40px;
}

/* .box h1 {
    margin-top: 2px;
} */

body {
    background-color: whitesmoke;
}



/* .box h1 {
    margin-left: 10px;
} */

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box1 {
    height: 250px;
    width: 250px;
    margin-top: 150px;
    background-color: white;
    border-radius: 15px;
    margin-left: 50px;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box1 i {
    margin-bottom: -40px;
}

/* .box1 h1 {
    margin-top: 2px;
} */

.nav {
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
    justify-content: space-between;
    height: 40px;
}

.nav i {
    margin-left: 10px;
    margin-top: 10px;
}

.nav h2 {
    margin-top: 8px;
}

.disp i {
    margin-left: 10px;
    margin-top: 10px;
}

.disp input {
    padding-left: 5px;
}

.nav1 {
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
    justify-content: space-between;
}

.nav1 i {
    margin-right: 20px;
    padding-left: 10px;
}

.box2 {
    height: 250px;
    width: 250px;
    margin-top: 150px;
    background-color: white;
    border-radius: 15px;
    margin-left: 50px;
}

.box2 i {
    margin-bottom: -40px;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#logOut {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#logOut.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}