* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow: hidden;
}

.whole {
    display: flex;
    justify-content: space-between;
}


.signup {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-left: 250px;
    margin-top: 200px;
}

.signup img {
    height: 12vh;
    width: 22vw;
    ;
}

.signup h1 {
    padding-top: 20px;
}

.signup #email {
    padding-top: 20px;
}

.signup #password {
    padding-top: 20px;
}

.rightnav1 {
    background-color: chartreuse;
    height: 100vh;
    width: 30vw;
    margin-left: 100px;
    position: relative;
}

.signupimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    width: 320px;
    /* margin-top: 10px; */

}

#email:focus {
    outline: none;
}

#password:focus {
    outline: none;
}

.signup button {
    height: 25px;
    width: 130px;
    margin-top: 20px;
}

/* .signup button {
    border-radius: 30px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: black;
    margin-top: 20px;
} */

.signup a {
    margin-top: 20px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


#errorOccured {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#errorOccured.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}




